.panel {
   box-shadow: none;
   &.panel-form {
      margin-top: 80px;
      padding-top: 30px;
      position: relative;
      margin-bottom: 60px;
      border-color: $theme-red-dark;
      .help-block {
         font-size: 12px;
         font-weight: 500;
         margin-bottom: 0px;
      }
      .form-horizontal .has-feedback .form-control-feedback {
         right: 0px !important;
      }
      .has-feedback label ~ .form-control-feedback {
         top: 5px !important;
      }
   }
   .panel-circle {
      top: -50px;
      z-index: 10;
      width: 100px;
      height: 100px;
      position: absolute;
      text-align: center;
      border-radius: 50%;
      left: calc(50% - 50px);
      background-color: #fff;
      color: $theme-red-light;
      border: 1px solid $theme-red-dark;
      i {
         display: block;
         font-size: 36px;
         margin-top: 15px;
      }
      span {
         display: block;
         font-size: 18px;
         margin-top: 3px;
      }
   }
   .form-bg-btn {
      width: 90%;
      color: #fff;
      margin: 0 5% 20px;
      outline: 0 !important;
      outline-offset: 0 !important;
   }
   .fname-xs, .lname-xs {
      display: inline-block;
   }
   #regForm {
      width: 80%;
      min-width: 300px;
      margin: 30px auto;

   }
}
.reg-progress {
   width: 100%;
   display: block;
   margin-top: 90px;
   margin-bottom: 50px;
   padding-left: 10%;
   padding-right: 10%;
   .reg-bar-box {
      float: left;
      z-index: 10;
      width: 100px;
      height: 100px;
      text-align: center;
      border-radius: 50%;
      margin: -50px auto 0px;
      background-color: #fff;
      color: $theme-red-light;
      border: 1px solid $theme-red-dark;
      i {
         display: block;
         font-size: 24px;
         margin-top: 24px;
      }
      span {
         display: block;
         font-size: 16px;
         margin-top: 4px;
         font-weight: 500;
      }
   }
   .reg-bar {
      float: left;
      height: 1px;
      z-index: -1;
      display: inline-block;
      width: calc(50% - 150px);
      background-color: $theme-red-dark;
   }
   .animAdd {
      position: relative;
      animation: barMove 2s;
      -webkit-animation: barMove 2s;
      animation-timing-function: linear;
      background-color: green !important;
      -webkit-animation-timing-function: linear;
   }
   /* Safari 4.0 - 8.0 */
   @-webkit-keyframes barMove { from {width: 0%;} to {width: 100%;} }
   /* Standard syntax */
   @keyframes barMove { from {width: 0%;} to {width: 100%;} }
}
// /* Animation Property */
// .collapseDiv{
//    position: relative;
//    animation: divCollapse 2s;
//    -webkit-animation: divCollapse 2s;
//    animation-timing-function: linear;
//    -webkit-animation-timing-function: linear;
// }
// .unCollapseDiv{
//
// }
// /* Safari 4.0 - 8.0 */
// @-webkit-keyframes divCollapse { from {height: 100%;} to {height: 0px;} }
// @-webkit-keyframes divUnCollapse { from {width: 0%;} to {width: 100%;} }
// /* Standard syntax */
// @keyframes divCollapse { from {height: 100%;} to {height: 0px;} }
// @keyframes divUnCollapse { from {width: 0%;} to {width: 100%;} }

@media (max-width: 400px) {}
@media (min-width: 401px) and (max-width: 576px) {}
@media (max-width: 576px) {
   .fname-xs, .lname-xs {
      width: 100% !important;
   }
   .lname-xs {
      margin-left: 0% !important;
   }
}
@media (min-width: 577px) and (max-width: 767px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 1199px) {}
@media (min-width: 1200px) {
   .panel {
      &.panel-form {

      }
   }
}
