@media (max-width: 400px) {
   .homepage-hero {
      min-height: 490px;
   }

   .wrapper-1 {
      min-height: 490px;
      padding-top: 90px;

      h1 {
         font-size: 26px;
      }

      h4 {
         margin-top: 20px;
      }

      .hero-search-wrapper {
         width: 100%;
         padding: 20px 5% 0;

         .heroInput {
            width: 100%;

            input {
               border-right: 1px solid #656565 !important;
            }
         }

         .heroCity {
            /*width: 40%;
        padding: 8px !important;*/
            display: none;
         }

         .heroSubmit {
            margin-top: 25px;
            width: 100% !important;
            border: 1px solid $theme-red-dark !important;
         }
      }
   }
}
@media (max-width: 576px) and (min-width: 401px) {
   .homepage-hero {
      min-height: 490px;
   }

   .wrapper-1 {
      min-height: 490px;
      padding-top: 100px;

      h1 {
         font-size: 30px;
      }

      h4 {
         margin-top: 20px;
      }

      .hero-search-wrapper {
         width: 100%;
         padding: 30px 5% 0;

         .heroInput {
            width: 85%;
         }

         .heroCity {
            display: none;
            /*width: 35%;*/
         }

         .heroSubmit {
            width: 15%;
         }
      }
   }
}
@media (max-width: 767px) and (min-width: 577px) {
   .homepage-hero {
      min-height: 490px;
   }

   .wrapper-1 {
      min-height: 490px;
      padding-top: 100px;

      h1 {
         font-size: 32px;
      }

      h4 {
         margin-top: 24px;
      }

      .hero-search-wrapper {
         width: 100%;
         padding: 30px 5% 0;

         .heroCity {
            width: 27%;
         }

         .heroInput {
            width: 60%;
         }

         .heroSubmit {
            width: 12%;
         }
      }
   }
}
@media (max-width: 767px) {
   .homepage-hero {
      //  background-image: url(/mainsite/assets/images/hero-image-768.jpg);
   }

   .wrapper-1 {
      padding-left: 15px;
      padding-right: 15px;

      .hero-search-wrapper .heroCity {
         padding-left: 24px;

         i {
            top: 7px;
            left: 8px;
            font-size: 18px;
         }
      }
   }
}
@media (max-width: 991px) and (min-width: 768px) {
   .homepage-hero,
   .wrapper-1 {
      min-height: 500px;
   }
}
@media (max-width: 1199px) and (min-width: 992px) {
   .homepage-hero,
   .wrapper-1 {
      min-height: 520px;
   }
}
@media (max-width: 1199px) and (min-width: 768px) {
   .wrapper-1 {
      .hero-search-wrapper .heroCity i {
         top: 7px;
         left: 10px;
         font-size: 18px;
      }
      padding-top: 120px;
      padding-left: 50px;
      padding-right: 50px;

      h4,
      h5 {
         margin-top: 24px;
      }

      .hero-search-wrapper {
         width: 100%;
         padding: 30px 10% 0;

         .heroInput {
            width: 60%;
         }

         .heroCity {
            width: 27%;
         }

         .heroSubmit {
            width: 12%;
         }
      }
   }
}
@media (min-width: 1200px) {}
