/*Classes for Containers*/
.mainWrapper {
   margin: 0 auto;
   display: block;
   position: relative;
   &:before, &:after {
      content: " ";
      display: table;
   }
   &:after {
      clear: both;
   }
}
.mainContentLeft {
   float: left;
   // border-right: 1px solid #ccc;
}
.mainContentCenter {
   float: left;
   border-right: 1px solid #ccc;
}
.mainSidebarLeft {
   float: left;
}
.mainSidebarRight {
   float: left;
}

// Unwanted Elements
.trialBox{
   color: #777;
   font-size: 40px;
   text-align: center;
   margin-bottom : 10px;
   background-color: #eee;
}

@media (max-width: 400px) {}
@media (min-width: 401px) and (max-width: 576px) {}
@media (min-width: 577px) and (max-width: 767px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 1199px) {}
@media (min-width: 1200px) {
   .mainWrapper {
      width: 1040px;
   }
   .mainContentLeft {
      // padding-left: 20px;
      // padding-right: 20px;
      // width: calc(100% - 355px);
      width: 685px;
      padding-right: 14px;
   }
   .mainContentCenter {
   }
   .mainSidebarLeft {
   }
   .mainSidebarRight {
      width: 355px;
      padding-left : 15px;
   }

   // Unwanted Elements
   .trialBox {
      // width: 336px;
      width: 340px;
      height: 280px;
      padding-top: 105px;
   }
}


/*Classes for Buttons*/
.flatButton {
   background-image: none;
   background-color: transparent;
   border: 0px solid transparent;
}

.btn-red {
   color: #fff;
   background-color: #f4545f !important;
   &:active, &:hover, &:focus {
      color: #fff;
      background-color: #f5454f !important;
   }
}

.text-trim{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.divider {
   height: 1px;
   overflow: hidden;
   margin: 10px 20px;
   background-color: #e5e5e5;
}

.error {
   color: #f00;
   display: block;
   font-size: 12px;
   margin-top: 4px;
   line-height: 1;
   font-weight: 500;
   margin-bottom: -16px;
}

.fb-bg {
   background-color: rgb(59, 89, 152);
}

.gp-bg {
   background-color: rgb(215, 69, 50);
}

.clear {
   clear: both !important;
}

.helpLink {
   float: right;
   color: #3097D1;
   cursor: pointer;
   font-size: 24px;
   margin-right: 15px;
   &:hover {
      color: #158dd0;
   }
}
