/*Class for User Full Name larger size*/
.u-name-lg {
  // color: #555;
  font-size: 20px;
}
/*Class for User UserName larger size*/
.u-userName-lg,
.u-userName-lg > a {
  color: #777;
  font-size: 14px;
}
/*Class for line-height equals 1*/
.l-h-1 {
  line-height: 1 !important;
}
/*Class for Border Bottom of 1 px*/
.b-b-1 {
  border-bottom: 1px solid #ccc !important;
}
/*Class for Border Top of 1 px*/
.b-t-1 {
  border-top: 1px solid #ccc !important;
}
/*Class for no list-style*/
ul.no-list-style{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*Class for color #555*/
.color-dark {
  color : #14171a !important;
}
/*Class for color #555*/
.color-555 {
  color : #555 !important;
}
/*Class for color #555*/
.color-ddd {
  color : #ddd !important;
}
/*Class for font-size 16px*/
.font-16 {
  font-size: 16px !important;
}
//------------------------------------------------//
/*Classes for Specific action*/
.no-text-select, .image_text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*Classes for Containers*/
.mainWrapper {
  height: 100%;
   margin: 0 auto;
   display: block;
   position: relative;
   &:before, &:after {
      content: " ";
      display: table;
   }
   &:after {
      clear: both;
   }
}

.mainSidebarRight {
  float: right;
}

//------------------------------------------------//
.mainContentLeft {
   float: left;
   // border-right: 1px solid #ccc;
}
.mainContentCenter {
   float: left;
   border-right: 1px solid #ccc;
}
.mainSidebarLeft {
   float: left;
}

// Unwanted Elements
.trialBox{
   color: #777;
   font-size: 40px;
   text-align: center;
   margin-bottom : 10px;
   background-color: #eee;
}

@media (max-width: 400px) {}
@media (min-width: 401px) and (max-width: 576px) {}
@media (min-width: 577px) and (max-width: 767px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 1199px) {}
@media (min-width: 1200px) {
   .mainWrapper {
      // width: 1040px;
      width: 1150px;// Used on Profile page
   }
   .mainSidebarRight {
     width: 300px;
   }
   // Unwanted Elements
   .trialBox {
     width: 300px;
     height: 280px;
     padding-top: 105px;
   }
   //------------------------------------------------//
   .mainContentLeft {
      // padding-left: 20px;
      // padding-right: 20px;
      // width: calc(100% - 355px);
      width: 685px;
      padding-right: 14px;
   }
   .mainContentCenter {
   }
   .mainSidebarLeft {
   }

}


/*Classes for Buttons*/
.flatButton {
   background-image: none;
   background-color: transparent;
   border: 0px solid transparent;
}

.btn-red {
   color: #fff;
   background-color: #f4545f !important;
   &:active, &:hover, &:focus {
      color: #fff;
      background-color: #f5454f !important;
   }
}

.text-trim{
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.divider {
   height: 1px;
   overflow: hidden;
   margin: 10px 20px;
   background-color: #e5e5e5;
}

.error {
   color: #f00;
   display: block;
   font-size: 12px;
   margin-top: 4px;
   line-height: 1;
   font-weight: 500;
   margin-bottom: -16px;
}

.fb-bg {
   background-color: rgb(59, 89, 152);
}

.gp-bg {
   background-color: rgb(215, 69, 50);
}

.clear {
   clear: both !important;
}

.helpLink {
   float: right;
   color: #3097D1;
   cursor: pointer;
   font-size: 24px;
   margin-right: 15px;
   &:hover {
      color: #158dd0;
   }
}
