.cityModal .modal-dialog {
   width: 100%;
}
.cityModal-header {
   padding: 0px !important;
   border-bottom: 0px !important;
   > {
      .cityModal-close {
         opacity: 0.6;
         color: #ff0000;
         font-weight: 300;
         margin-right: 10px;
         padding: 0px 13px 6px;
         filter: alpha(opacity=60);
         margin-top: 10px !important;
      }
      h3 {
         font-weight: 400;
         line-height: 1.5;
         text-align: center;
      }
   }
}
.cityModal-body {
   .cityModal-form {
      position: relative;
      margin-bottom: 0px !important;
      i {
         top: 10px;
         left: 11px;
         color: #767676;
         position: absolute;
      }
      input {
         padding-left: 25px;
      }
   }
   .cityModal-topCities {
      float: none;
      padding-left: 0px;
      padding-right: 0px;
      h4 {
         line-height: 1.5;
         font-weight: 400;
         text-align: center;
      }
      .cityCont {
         float: left;
         line-height: 1;
         cursor: pointer;
         position: relative;
         text-align: center;
         display: inline-block;
         border: 1px solid #aaa;
         &.selected {
            font-weight: 600 !important;
            border-color: #f5454f !important;
            // background-color: rgba(244, 84, 95, 0.3) !important;
         }
      }
   }
}
.cityModal-footer {
   border-top: 0px !important;
   text-align: center !important;
}
@media (max-width: 400px) {
   .modal-body.cityModal-body {
      padding: 15px 0px;
   }
}
@media (min-width: 577px) and (max-width: 767px) {
   .cityModal-body .cityModal-topCities .cityCont {
      margin: 1% !important;
      width: 31% !important;
   }
}
@media (max-width: 767px) {
   .cityModal-header > {
      .cityModal-close {
         font-size: 36px;
      }
      h3 {
         margin-top: 70px;
         margin-bottom: 15px;
      }
   }
   .cityModal-body {
      .cityModal-form {
         width: 70%;
         margin-left: 15%;
      }
      .cityModal-topCities {
         margin-bottom: 20px;
         h4 {
            margin-top: 40px;
            margin-bottom: 20px;
         }
         .cityCont {
            margin: 3%;
            width: 44%;
            border-radius: 15px;
            padding: 8px 12px 6px;
         }
      }
   }
}
@media (min-width: 768px) {
   .cityModal-header > .cityModal-close {
      font-size: 40px;
   }
}
@media (min-width: 768px) and (max-width: 991px) {
   .cityModal-body {
      .cityModal-form {
         width: 70%;
         margin-left: 15%;
      }
      .cityModal-topCities .cityCont {
         margin: 1%;
         width: 23%;
      }
   }
}
@media (min-width: 992px) and (max-width: 1199px) {
   .cityModal-body {
      .cityModal-form {
         width: 60%;
         margin-left: 20%;
      }
      .cityModal-topCities .cityCont {
         margin: 1%;
         width: 18%;
      }
   }
}
@media (min-width: 768px) and (max-width: 1199px) {
   .cityModal-header > h3 {
      margin-top: 80px;
      margin-bottom: 25px;
   }
   .cityModal-body .cityModal-topCities {
      margin-bottom: 35px;
      h4 {
         margin-top: 50px;
         margin-bottom: 35px;
      }
      .cityCont {
         border-radius: 19px;
         padding: 12px 12px 10px;
      }
   }
}
@media (min-width: 1200px) {
   .cityModal-header > h3 {
      margin-top: 80px;
      margin-bottom: 25px;
   }
   .cityModal-body {
      .cityModal-form {
         width: 60%;
         margin-left: 20%;
      }
      .cityModal-topCities {
         margin-bottom: 35px;
         h4 {
            margin-top: 50px;
            margin-bottom: 35px;
         }
         .cityCont {
            margin: 1%;
            width: 18%;
            border-radius: 19px;
            padding: 12px 12px 10px;
         }
      }
   }
}
