@media (max-width: 400px) {
   .searchModal-body {
      .searchWrap {
         .backIcon {
            margin-left: 5px !important;
         }
         .closeIcon {
            margin-right: 5px !important;
         }
         .searchInput {
            width: calc(100% - 100px) !important;
         }
      }
   }
}

@media (max-width: 767px) {
   .searchModal-body {
      width: 100%;
      padding: 0px !important;
      .searchWrap {
         width: 100%;
         height: 56px;
         position: relative;
         .backIcon {
            opacity: 1;
            color: #777;
            float: left;
            font-size: 24px;
            margin-top: 6px;
            text-shadow: none;
            margin-left: 10px;
            border-radius: 50%;
            padding: 9.5px 12px;
            i {
               -webkit-text-stroke: 2px #fff;
            }
         }
         .searchInput {
            width: 60%;
            float: left;
            margin-top: 10px;
            padding-left: 5px;
            width: calc(100% - 110px);
            input {
               border: 0px;
               font-size: 16px;
               box-shadow: none;
            }
         }
         .closeIcon {
            color: #777;
            float: right;
            line-height: 1;
            font-size: 28px;
            margin-top: 6px;
            padding: 8px 11px;
            margin-right: 10px;
            border-radius: 50%;
            i {
               -webkit-text-stroke: 2px #fff;
            }
         }
      }
   }
}
